body{background-color: rgb(129, 210, 248);}
h1{color: #e3600fed;font-size: xx-large;font-weight:300px;font-family: Helvetica, sans-serif;font-style:italic}
p{font-size: 2em;}
a{color:#e3600fed;font-style: italic;font-weight: bold}
a:hover{color: #000;}

